@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
  }
  
  /* For Chrome, Safari, and Opera */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* For Firefox */
  scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  scrollbar-track {
    background-color: transparent; /* Color of the track */
  }
  
  /* For Firefox */
  scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
  }